<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>
    <style>
        
        [v-cloak]{
            display: none;
        }
        input{
            margin: 10px;
            display: block;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <login-form />
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    greeting : "Hello Vue 3!",
                    isVisible: false,
                }
            },
            methods: {
                handleToggle(isVisible) {
                    this.isVisible = !isVisible
                },
                greet(){
                    console.log(this.greeting);
                },
                handleSubmit() {
                    console.log('Submitted');
                }
            }
        });
        app.component('login-form',{
            template: `
            <form @submit.prevent="handleSubmit">
                <h1>{{title}}</h1>
                <custom-input v-model="email" label="Email" type="email" />
                <!-- 
                    v-bind modifier allows us to pass the variables data to child components
                    :label is exactly simillar to v-bind:label
                -->
                <custom-input v-model="password" label="Password" type="password" />
                <!-- 
                    Here in Custom Component, what v-model does is create a variable called modelValue and passes it to child component.
                    v-model is also listening to $emit() event fired from child component.
                -->
                <button>Login</button>
            </form>
            `,
            components : ['custom-input'],
            data(){
                return {
                    title: 'Login Form',
                    email: "",
                    password: "",
                }
            },
            methods: {
                handleSubmit() {
                    console.log(" Submitted ");
                    console.log("Email : ", this.email);
                    console.log("Password : ", this.password);
                }
            }
        })
        app.component('custom-input',{
            template: `
            <label>
                {{label}}
                <input type="text" v-model="inputValue" />
            </label>
            `,
            props: ['label', 'modelValue'],
            // Here we need to specify the props we are expcting from the parent component
            computed: {
                inputValue: {
                    get() {
                        return this.modelValue
                    },
                    set(value) {
                        this.$emit('update:modelValue', value);
                        // $emit() basically emits events that other components can listen to.(built in/ custom events both)
                        // First Argument is the event we are emitting from here and second argument is the data
                        // v-model in Parent Component is automatically listening to this event and updates the data.
                    }
                }
            },
            data() {
                return {
                    
                }
            }
        })
        app.mount("#app");
    </script>
</body>
</html>