<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 Basics</title>
    <style>
        .box{
            background-color: purple;
            height: 200px;
            width: 200px;
        }
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        {{greeting}}
        <!-- @click is exactly same as v-on.click -->
        <button @click="handleToggle(isVisible)">Toggle Box</button>
        <div v-if="isVisible" class="box"></div>
        <input type="text" @keyup.enter="greet" v-model='greeting'>
        <!-- 
            here we are specifically listening to enter key up
            we can also use @click.right for tracing right click 
        -->
       <hr>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    greeting : "Hello Vue 3!",
                    isVisible: false,
                }
            },
            methods: {
                handleToggle(isVisible) {
                    this.isVisible = !isVisible
                },
                greet(){
                    console.log(this.greeting);
                }
            }
        });
        app.mount("#app");
    </script>
</body>
</html>